html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #424242;
    background: white;
    user-select: none;
}
#radius {
    position: fixed;
    z-index: 20;
    pointer-events: none;
    left: -20px;
    top: -20px;
    right: -20px;
    bottom: -20px;
    border: 20px solid black;
    border-radius: calc(54px);
}
#back {
    transform: scale(.25);
    position: fixed;
    left: 0px;
    top: 2;
}
#header {
    height: 70px;
    border-bottom: 1px solid #EFEFEF;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    position: sticky;
    top: 0px;
    background: white;
    z-index: 2;
}
#date-row {
    border-bottom: 1px solid #EFEFEF;
    padding: 5px 15px;
    font-weight: bold;
    font-size: smaller;
}
#video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 15px;
}
.video {
    height: 100px;
    background-color: black;
    background-image: url(./thumb.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}
.video.alt-1 {
    background-position-y: 48%;
}
.video.alt-2 {
    background-position-y: 52%;
}
.video.alt-0 {
    background-position-y: 49%;
}
.video.alt-3 {
    background-position-y: 51%;
}
.video .info {
    position: absolute;
    left: 0;
    bottom: 0px;
    right: 0;
    background: rgba(0,0,0,.4);
    font-size: small;
    color: white;
    padding: 1px 5px 3px;
}
#player {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: white;
    background-image: url(./thumb.png);
    /* background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/rsHcqS8Wxivh32tbw/people-playing-cards-on-table_bosfqidog_thumbnail-full01.png); */
    transition: .1s opacity linear, .1s transform linear;
    transform: scale(.5);
    opacity: 0;
    pointer-events: none;
    z-index: 3;
}
#player > video {
    width: 100%;
    height: 100%;
    min-width: 100px;
    min-height: 100px;
    background: black;
}
#pause-screen {
    /* backdrop-filter: blur(20px); */
    position: absolute;
    left: 0;
    top: 0px;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    opacity: 0;
    transition: .2s opacity linear; /* , 0s backdrop-filter linear */
    text-transform: uppercase;
    font-size: xx-small;
    pointer-events: none;
  
}
#close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 32px;
    fill: white;
}
#play-controls {
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 0;
    height: 50px;
    font-size: medium;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
#play {
    width: 50px;
}
#bar-container {
    flex: 1;
    position: relative;
}
#bar {
    height: 4px;
    background: linear-gradient(to right, white, white 25%,  gray 25.1%,  gray 100%);
}
#bar-indicator {
    width: 8px;
    position: absolute;
    left: 25%;
    top: -2px;
    height: 8px;
    background: white;
    border-radius: 4px;
}
#time {
    padding: 0px 10px 0px 15px;
}